<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Munchspot</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- JQueryUI for autocomplete -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="scripts.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<header>
    <ul class="side-nav fixed">
        <img src="/img/Yelp_trademark_RGB_outline.png" style="width:65%" />
        <div class="container">
            <div class="nav-wrapper">
                <form>
                    <div class="input-field z-depth-1">
                        <input type="search" id="search_box" name="term" placeholder="Search food, delivery, etc." />
                        <label class="label-icon" for="search"><i class="tiny material-icons">search</i></label>
                    </div>
                </form>
            </div>
            <form>
                <div class="input-field z-depth-1">
                    <input type="search" id="location_box" name="location" placeholder="Search locations e.g. Nashville, TN" />
                    <label class="label-icon" for="search"><i class="tiny material-icons">my_location</i></label>
                </div>
            </form>
            <div class="row">
                <div class="col s10">
                    <form>
                        <p class="range-field">
                            Max distance from location <i>(mi)</i> :
                            <input type="range" id="dist_radius" min="0" max="10" value="2">
                        </p>
                    </form>
                </div>
                <div class="col s2">
                    <p id="dist_output">2</p>
                </div>
            </div>
            Price levels:
            <div class="row">
                <div class="col s3">
                    <p>
                        <input type="checkbox" id="price1" />
                        <label for="price1">$</label>
                    </p>
                </div>
                <div class="col s3">
                    <p>
                        <input type="checkbox" id="price2" />
                        <label for="price2">$$</label>
                    </p>
                </div>
                <div class="col s3">
                    <p>
                        <input type="checkbox" id="price3" />
                        <label for="price3">$$$</label>
                    </p>
                </div>
                <div class="col s3">
                    <p>
                        <input type="checkbox" id="price4" />
                        <label for="price4">$$$$</label>
                    </p>
                </div>
            </div>
        </div>
    </ul>
</header>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col s6" id="display_results">
                    <h4><i id="notice">Search to display results!</i></h4>
                </div>
                <div class="col s4 z-depth-2" id="map">
                    <!--         also include popup responsive business info at bottom
 -->
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkj_6s3aUuaZJvvVeLbJYgQ4vjGfub9tA&callback=initMap" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
</footer>

</html>
